body{
    margin:0;
    font-family:Arial,sans-serif;
    background:#111827;
    color:white;
    text-align:center;
}

header{
    padding:120px 20px;
}

h1{
    font-size:60px;
    color:#FFD700;
    text-shadow:0 0 20px gold;
}

p{
    font-size:24px;
}

button{
    margin-top:25px;
    padding:15px 35px;
    border:none;
    border-radius:40px;
    background:#FFD700;
    color:black;
    font-size:20px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    transform:scale(1.08);
    box-shadow:0 0 20px gold;
}

section{
    padding:80px 20px;
}

.card{
    background:#1f2937;
    width:320px;
    margin:25px auto;
    padding:25px;
    border-radius:20px;
    box-shadow:0 0 15px rgba(255,215,0,.35);
}

.card h2{
    color:#FFD700;
}
