html{
    scroll-behavior:smooth;
}

body{
    margin:0;
    font-family:Arial,sans-serif;
    background:linear-gradient(135deg,#000000,#141e30,#243b55);
    color:white;
    text-align:center;
}

header{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

h1{
    font-size:60px;
    color:#ffd700;
    text-shadow:0 0 20px gold;
}

p{
    font-size:22px;
}

button{
    background:#ff9800;
    color:white;
    border:none;
    padding:15px 35px;
    border-radius:40px;
    font-size:20px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#ff3d00;
    transform:scale(1.1);
}

section{
    padding:120px 20px;
}

#workout{
    background:#111;
}

#music{
    background:#1b1b1b;
}
